body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
}

.task-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.task-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.task-form label {
    flex: 1 1 100%; 
    font-weight: bold; 
}
.task-form input, 
.task-form textarea {
    flex:1 1 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; 
}

.task-form button {
    padding: 12px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    flex: 1 1 100%;
}

.task-form button:hover {
    background-color: #218838;
}

.task-form input:focus{
    background-color:antiquewhite;
}
.task-form textarea:focus{
    background-color:antiquewhite;
}

.task-list {
    margin-top: 20px;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}








